<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <strong>Mohammad Javani, Ph.D.</strong><br>
      Assistant Professor, Department of Cyber-Physical Systems<br>
      Clark Atlanta University
    </div>
    <div class="footer-links">
      <a href="mailto:mjavani@cau.edu">mjavani@cau.edu</a>
      <a href="https://www.cau.edu/directory/mohammad-javani-phd">CAU Faculty Profile</a>
      <a href="https://scholar.google.com/citations?user=y7wEhXUAAAAJ">Google Scholar</a>
    </div>
  </div>
  <div class="container copyright">© {{ 'now' | date: '%Y' }} Mohammad Javani. All rights reserved.</div>
</footer>
